header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffee {
    display: flex;
    align-items: flex-end;
    width: 25vh;
}

section {
    margin: 0;
    padding: 0;
    width: 50%;
}

main {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
}

body {
    font-family: sans-serif;
}

label, select, input {
    width: 100%;
    margin-bottom: .5em;
}

#coffee-name, #coffee-name-input {
    padding: 0;
    border: 1px solid black;
}

#add-coffee {
    text-align: center;
}

#submit {
    background-color: lavender;
    margin-top: .5em;
}

#submit-input {
    background-color: thistle;
    margin-top: .5em;
}

@media screen and (max-width: 750px) {
    #coffees {
        display: flex;
        flex-flow: column nowrap;
        align-content: space-around;
        height: 150vh;
    }
}

@media screen and (min-width: 751px) {
    #coffees {
        display: flex;
        flex-flow: column wrap;
        align-content: space-around;
        height: 85vh;
    }
}